---
import Header from '../components/Header.jsx';
import Footer from '../components/Footer.astro';
import ProductListing from '../components/ProductListing.jsx';

const products = await fetch(`${import.meta.env.NETLIFY_URL}/api/get-product-list`)
.then(res => {
    return res.json()
    })
    .then((json) => {
    console.log('--- built home page ---', JSON.parse(json).products);
    return JSON.parse(json).products.edges
  })
  .catch(err => console.log('error', err));
---

<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Shoperoni</title>
  <link rel="icon" type="image/svg+xml" href="/favicon.svg">
  <link rel="stylesheet" href="/style/global.css">
</head>
<body>
  <Header />
  <main>
    <ul class="product-grid">
      {products.map((p) => {
        return <ProductListing product={p.node} />
      })}
    </ul>
  </main>

  <Footer />
</body>
</html>
